
/.bundle

/db/*.sqlite3

/log/*.log
/tmp

doc/
*.swp
*~
.project
.DS_Store
/.sass-cache
/.DS_Store
/build
build/
/build/css/application.css
/build/css/signatures.css
/build/fonts/veramono/specimen_files/grid_12-825-55-15.css
/build/fonts/veramono/specimen_files/specimen_stylesheet.css
/build/fonts/veramono/stylesheet.css
/build/fonts/veramono/veramono-bold-demo.html
/build/fonts/veramono/veramono-bold-italic-demo.html
/build/fonts/veramono/veramono-demo.html
/build/fonts/veramono/veramono-italic-demo.html
/build/hiring.html
/build/index.html
/build/mazinga_page.html
/build/qa.html
/build/submission_page.html