%ul.menu-container
  %li.container-hover
    %a{href: '/index.html#projects-wall'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-first
      .bottone_container
        .bottone
          %p
            <span class="first-letter">P</span>rojects
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/what-we-do.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: 'http://blog.thedoers.co'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">B</span>log
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/team.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">T</span>eam
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/submission-page.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">S</span>ubmit<span class="first-letter"> <span class="first-letter">S</span>tartup
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/hiring.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">H</span>iring
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/qa.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-last
      .bottone_container
        .bottone
          %p
            <span class="first-letter">Q</span>&A
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti