%section.page.submit
    %h1.submission.index
        %span.wave_line.left
        %span.wave_line.right
        %span.container.team
            %span
                we
                .shadow-right
                .shadow-bottom
            %span
                have
                .shadow-right
                .shadow-bottom
            %span
                worked
                .shadow-right
                .shadow-bottom
            %span
                for:
                .shadow-right
                .shadow-bottom
    %p.hiring.main-p
        When we work for a Start-up company, the name of the project corresponds with the name of the company. This is not always true, especially for larger companies.<br />Some cases are listed below.
    .project-info.team.index
        .container-single-info.all-columns
            %p.society.clienti
                <a href="http://www.edibas.com/it/it/homepage.plp">Edibas</a><span class="small">(Alphabots)</span>/
                <a href="http://www.deltatre.com/">DeltaTre</a><span class="small">(Concept App)</span>/
                <a href="http://it.benetton.com/index.html">Benetton</a><span class="small">(Fabrica)</span>/
                <a href="http://www.altair.com/">Altair</a><span class="small">(Weight Analytics & Energy Meter)</span>/
                <a href="http://pfeffermind.de/">Pfeffermind Games</a><span class="small">(Spy Day)</span>
                <a href="http://www.cittadellarte.it/">Fondazione Pistoletto</a><span class="small">(ArtMob)</span>
                <a href="http://www.sportsquaregames.com/">SportSquare Games</a><span class="small">(SoccerSquare & VolleySquare)</span>


