@import h5bp

@import compass
@import susy
@import partials/fonts
@import partials/grid
@import partials/custom_mixins

+h5bp-normalize
+establish-baseline

$legacy-support-for-ie: true

$assets-layout:smart
$assets: sprite-map("assets/*.png")

$yellow: #F5FD48
$blue: #2C43B5
$pink: #FC8686
$purple: #8591FD


$rose: #FF4874
$light-yellow: #fffed9
$black: #000
$acqua: #81FFD0

#container, html.embed
	background: transparent !important

li#fo1li178
	display: none !important
#fo1li490
	margin-bottom: 10px !important
	padding-bottom: 0 !important

.focused
	background-color: #FC8686 !important
	label
		+text-shadow(rgba(209,101,101,1) 3px 3px 0, rgba(209,101,101,1) 3px 3px 0, rgba(209,101,101,1) 3px 3px 0)
	textarea, input[type="text"], input[type="email"], input[type="url"]
		@include box-shadow (#FFC0C0 0 1px 0)
		border: 1px solid #E25959 !important
		background: #EF7878 !important

#errorLi
	background-color: #fb344d !important
	border: none !important
	border-radius: 0 !important
	text-align: left !important
#errorMsgLbl
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	text-transform: uppercase !important
	font-weight: 700 !important
	font-size: 38px !important
	line-height: 35px !important
	+text-shadow(rgba(186,29,41,1) 3px 3px 0, rgba(186,29,41,1) 3px 3px 0, rgba(186,29,41,1) 3px 3px 0)
	color: white !important
	margin: 0 !important
	margin-bottom: 10px !important
#errorMsg, #errorMsg b
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	font-size: 16px !important
	line-height: 20px !important
	font-weight: 400 !important
	color: #800114 !important
	margin: 0 !important
	padding: 0 !important
	background-color: transparent !important
	border: none !important
	border-radius: 0 !important




form li.error
	background-color: #fb344d !important
	margin-bottom: 35px !important
	label
		+text-shadow(rgba(186,29,41,1) 3px 3px 0, rgba(186,29,41,1) 3px 3px 0, rgba(186,29,41,1) 3px 3px 0)
	textarea, input[type="text"], input[type="email"], input[type="url"]
		@include box-shadow (#f98a85 0 1px 0)
		border: 1px solid #d80125 !important
		background: #f01237 !important
form li.error .desc
	color: white !important
form p.error
	color: #e50127 !important
	border: none !important
	position: relative !important
	left: 0 !important
	margin: 0 !important
	margin-top: 10px !important
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	font-size: 14px !important
	line-height: 15px !important
	background-color: #ffcaba !important
	padding: 2px 15px 2px 5px !important
	display: inline !important
	font-weight: 400 !important
	+float-left
	width: auto !important
	max-width: 91% !important
	opacity: 0.9 !important

	
	
li#foli387
	margin-bottom: 0 !important	
li#foli487
	label
		display: none !important
form li.paging-context
	margin-top: -30px !important
	margin-bottom: 12px !important
	padding-top: 0 !important
	padding-bottom: 0 !important
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	color: $yellow !important
		
textarea, input[type="text"], input[type="email"], input[type="url"]
	background-image: url('http://thedoers.co/images/textures/form_bg.png') !important
	border: 1px solid #5D6AC6 !important
	width: 87% !important
	margin: 0 !important
	@include box-shadow (#BBBBFF 0 1px 0)
	padding-left: 20px !important
	padding-right: 20px !important
	display: block !important
	outline: none !important
input[type="file"]
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	font-size: 16px !important
	line-height: 20px !important
	color: #4b5093 !important
	font-weight: 400 !important
	background-image: url('http://thedoers.co/images/form_btn_pink.png')
	background-repeat: no-repeat !important
	border: none !important
	height: 27px !important
	background-color: transparent !important
	padding-left: 0 !important

fieldset
	padding: 0 !important
	border: none !important

textarea
	min-width: 87% !important
	max-width: 87% !important
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	color: $yellow !important
	font-weight: 400 !important
	font-size: 18px !important
	line-height: 22px !important
	letter-spacing: px-to-em(1px) !important
	padding: 20px !important
input[type="text"], input[type="email"], input[type="url"]
	height: 60px
	color: $yellow !important
	font-size: 22px !important
	line-height: 31px!important
	letter-spacing: px-to-em(1px)
label, input[type="text"], , input[type="email"], input[type="url"]
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	font-weight: 700 !important
label
	width: 96% !important
	font-size: 22px !important
	line-height: 24px !important
	color: black !important
	text-transform: uppercase
	display: block
	+text-shadow(rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0)	
label.desc
	margin-bottom: 4px !important
form li.buttons input
	background-image: url('http://thedoers.co/images/form_btn_blue.png')
	border: none !important
	width: 132px !important
	height: 65px !important
	background-color: transparent !important
	background-repeat: no-repeat !important
	color: $yellow !important
	font-family: "veramono" !important
	font-weight: 400 !important
	font-size: 17px !important
	line-height: 20px !important
	margin: 0 !important
	margin-bottom: 6px !important
	padding: 0 !important
	padding-bottom: 3px !important
	padding-right: 11px !important
	vertical-align: normal !important
	letter-spacing: px-to-em(1px) !important
	text-decoration: none !important
	display: block !important
	&:hover
		background-image: url('http://thedoers.co/images/form_btn_blue_hover.png')
	&:active
		background-image: url('http://thedoers.co/images/form_btn_blue_active.png')
		padding-top: 18px !important
		padding-left: 22px !important
form li.buttons button, form li.buttons input#nextPageButton
	background-image: url('http://thedoers.co/images/form_btn_pink.png')
	border: none !important
	width: 90px !important
	height: 42px !important
	background-color: transparent !important
	background-repeat: no-repeat !important
	color: $blue !important
	font-family: "veramono" !important
	font-weight: 400 !important
	font-size: 14px !important
	line-height: 17px !important
	margin: 0 !important
	margin-bottom: 6px !important
	padding: 0 !important
	padding-top: 4px !important
	padding-right: 7px !important
	vertical-align: normal !important
	letter-spacing: px-to-em(1px) !important
	text-decoration: none !important
	display: block !important
	&:hover
		background-image: url('http://thedoers.co/images/form_btn_pink_hover.png')
	&:active
		background-image: url('http://thedoers.co/images/form_btn_pink_active.png')
		padding-top: 12px !important
		padding-right: 0 !important


.buttons .marker
	position: relative !important
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
	font-size: 14px !important
	line-height: 15px !important
	font-weight: 400 !important
	color: #4b5093 !important
	margin: 0 !important
	margin-left: 5px !important
	margin-top: 15px !important
	padding: 0 !important

.radix, .cents
	display: none !important

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em
	background: $yellow !important
	border: 1px solid $yellow !important
	font-size: 11px !important
	color: $blue !important


form#form1
	ul
		margin-top: 30px
	li#foli178
		display: none
	p.instruct
		border: none !important
		position: relative
		left: 0
		margin: 0
		margin-top: 10px
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
		font-size: 14px !important
		line-height: 15px !important
		background-color: $yellow
		padding: 2px 15px 2px 5px
		display: inline
		+float-left
		width: auto
		max-width: 91%
		opacity: 0.9
		small
			color: $blue
			font-size: 14px !important
			line-height: 15px !important

	label.Field387 span, label.Field388 span, label.Field389 span, label.Field390 span, label.Field391 span, label.Field392 span
		display: inline-block !important
	label.Field500_0 span, label.Field500_1 span, label.Field500_2 span, label.Field500_3 span, label.Field502_0 span, label.Field502_1 span
		display: inline-block !important

	label.choice
		margin: 0 !important
		margin-bottom: 10px !important

	input[type="checkbox"]
		display: none
	input[type="checkbox"] ~ label span
		margin-right: 5px
		vertical-align: middle
		background-image: url('http://thedoers.co/images/assets/checkbox_false.png') !important
		width: 23px !important
		height: 23px !important
		cursor: pointer
		display: inline-block !important
	#Field387:checked + label span, #Field388:checked + label span, #Field389:checked + label span, #Field390:checked + label span, #Field391:checked + label span, #Field392:checked + label span
		background-image: url('http://thedoers.co/images/assets/checkbox_true.png') !important

	input[type="radio"]
		display: none
	input[type="radio"] ~ label span
		margin-right: 5px
		vertical-align: middle
		background-image: url('http://thedoers.co/images/assets/radio_false.png') !important
		width: 23px !important
		height: 23px !important
		cursor: pointer
		display: inline-block !important
	#Field500_0:checked + label span, #Field500_1:checked + label span, #Field500_2:checked + label span, #Field500_3:checked + label span, #Field502_0:checked + label span, #Field502_1:checked + label span
		background-image: url('http://thedoers.co/images/assets/radio_true.png') !important
	.focused
		input[type="checkbox"] ~ label span
			background-image: url('http://thedoers.co/images/assets/checkbox_false_focused.png') !important
		#Field387:checked + label span, #Field388:checked + label span, #Field389:checked + label span, #Field390:checked + label span, #Field391:checked + label span, #Field392:checked + label span, #Field502_0:checked + label span, #Field502_1:checked + label span
			background-image: url('http://thedoers.co/images/assets/checkbox_true_focused.png') !important
		input[type="radio"] ~ label span
			background-image: url('http://thedoers.co/images/assets/radio_false_focused.png') !important
		#Field500_0:checked + label span, #Field500_1:checked + label span, #Field500_2:checked + label span, #Field500_3:checked + label span, #Field502_0:checked + label span, #Field502_1:checked + label span
			background-image: url('http://thedoers.co/images/assets/radio_true_focused.png') !important
			
	section
		div
			padding: 0 !important
			margin: 0 !important
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
			font-size: 16px !important
			line-height: 20px !important
			color: #4b5093
			font-weight: 400
		a
			color: #4b5093
			text-decoration: underline
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
			font-size: 16px !important
			line-height: 20px !important
			font-weight: 400
			opacity: 1 !important
			&:hover
				color: $yellow
				opacity: 1 !important
		h3
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
			font-weight: 700 !important
			font-size: 38px !important
			line-height: 35px !important
			color: black !important
			text-transform: uppercase
			+text-shadow(rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0)
			border: none !important
			padding: 0 !important
			margin: 0 !important
			margin-bottom: 10px !important
			margin-top: 120px !important
		hr.spacer
			width: 100%
			border: none !important
			margin: 30px 0
			height: 1px
			background-image: url('http://thedoers.co/images/textures/hr_dotted.png') !important
	span, div
		width: 100% !important
		label
			text-transform: lowercase !important
			font-size: 20px !important
			line-height: 22px !important
			opacity: 0.4
			margin-top: 8px !important 
		.note
			font-size: 16px !important
			line-height: 20px !important
			color: #4b5093
			font-weight: 400 !important
			text-transform: none !important
			text-shadow: none
	span.symbol
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
		font-size: 20px !important
		line-height: 22px !important
		opacity: 0.4
		color: black
		font-weight: 700
		position: relative
		+float-left
		width: auto !important
		display: block !important
		margin: 0
		margin-bottom: 3px
		top: 4px
		padding-right: 8px
	span.symbol ~ span label
		width: auto !important
		position: relative
	span.symbol ~ span 
		position: relative
		

	li
		margin: 0
		padding: 10px 0
		padding-left: 2%
		padding-right: 2%
		margin-bottom: 35px
		width: 100%
	fieldset
		label
			opacity: 1
		legend
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important
			font-weight: 700 !important
			font-size: 22px !important
			line-height: 31px !important
			color: black !important
			text-transform: uppercase
			+text-shadow(rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0, rgba(97,113,224,1) 3px 3px 0)
			margin-bottom: 20px
	.focused
		legend.desc
			+text-shadow(rgba(209,101,101,1) 3px 3px 0, rgba(209,101,101,1) 3px 3px 0, rgba(209,101,101,1) 3px 3px 0)

