!!!
%html{ :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
    %title Welcome to localactor.org
    = stylesheet_link_tag 'signatures'
  %body
    #signature
      %h1.name
        Gabriele Marchi
      %h2
        graphic designer
      %p ~
      %p +393493286490
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p gabriele@thedoersproject.com
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p ~
      %p
        Skype: gabrielemarchi85
      %p.social
        <a href="#">linkedin</a>
        %span.slash /
        <a href="#">twitter</a>
      %p.asterisk **
      .logo-signature