-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
  %li.container-hover
    %a{href: '/projects_wall.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-first
      .bottone_container
        .bottone
          %p
            <span class="first-letter">P</span>rojects
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/qa.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">Q</span>&A
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/team.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">T</span>eam
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/what_we_do.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/we_have_worked_for.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">W</span>e've <span class="first-letter">W</span>orked <span class="first-letter">F</span>or
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/submission_page.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/hiring.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">H</span>iring
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti





%section.page.submit



  %ul.submission.blog
    %li
      .container-left.blog-post
        %h3
          %span.team
            11 <span class="smaller">/</span> June <span class="smaller">/</span> 2013
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %a.blog{href: '/blog_deep_into_the_ocean.html'}
              %span
                Deep
                .shadow-right
                .shadow-bottom
              %span
                into
                .shadow-right
                .shadow-bottom
              %span
                the
                .shadow-right
                .shadow-bottom
              %span
                ocean
                .shadow-right
                .shadow-bottom
        .posted-by
          %h4 Posted by:
          %ul
            %li
              %a{href: 'http://thedoers.co/team.html'}Irene Cassarino
        .tags
          %h4 Tags:
          %ul
            %li
              %a{href: '#'}Accelerators
            %li
              %a{href: '#'}Investors
            %li
              %a{href: '#'}Placeholder tag
            %li
              %a{href: '#'}short
            %li
              %a{href: '#'}Accelerators
            %li
              %a{href: '#'}Placeholder
            %li
              %a{href: '#'}Investors
            %li
              %a{href: '#'}Accelerators

      .container-right
        %p.submit-description
          In a picture – what we have learnt from GAN global meeting at H-Farm last week about the accelerators’ ecosystem and relationships among startups, accelerators and investors. Many many thanks to the wonderful friends at H-Farm for the invitation and warm & professional welcoming! <a class="read_more" href="/blog_deep_into_the_ocean.html">Read more</a>
        %hr.short-spacer
        %p.keywords
          %a{href: '#'} 0 Comments
          <span>•</span>
          %a{href: '#'} Share
    %hr.dotted
    %li
      .container-left.blog-post
        %h3
          %span.team
            24 <span class="smaller">/</span> May <span class="smaller">/</span> 2013
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %a.blog{href: '/blog_ixdt_user_interface.html'}
              %span
                IxDT
                .shadow-right
                .shadow-bottom
              %span
                —
                .shadow-right
                .shadow-bottom
              %span
                I
                .shadow-right
                .shadow-bottom
              %span
                nuovi
                .shadow-right
                .shadow-bottom
              %span
                trend
                .shadow-right
                .shadow-bottom
              %span
                di
                .shadow-right
                .shadow-bottom
              %span
                User
                .shadow-right
                .shadow-bottom
              %span
                Interface
                .shadow-right
                .shadow-bottom
              %span
                Design
                .shadow-right
                .shadow-bottom
        .posted-by
          %h4 Posted by:
          %ul
            %li
              %a{href: 'http://thedoers.co/team.html'}Piermaria Cosina
        .tags
          %h4 Tags:
          %ul
            %li
              %a{href: '#'}IxDT
            %li
              %a{href: '#'}UI
            %li
              %a{href: '#'}Flat design
            %li
              %a{href: '#'}Parallax
            %li
              %a{href: '#'}Skeumorphism

      .container-right
        %p.submit-description
          Perchè tutti parlano di Flat Design? Cos’è lo Skeuomorfismo? E’ facile usare la Parallasse e a cosa serve? Alcuni prodotti hanno una web-mobile-app prima ancora di un sito, è sensato? Che senso ha cambiare il design dell’interfaccia di un prodotto che esiste già? <a class="read_more" href="/blog_ixdt_user_interface.html">Read more</a>
        %hr.short-spacer
        %p.keywords
          %a{href: '#'} 0 Comments
          <span>•</span>
          %a{href: '#'} Share
    %hr.dotted
    %li
      .container-left.blog-post
        %h3
          %span.team
            7 <span class="smaller">/</span> May <span class="smaller">/</span> 2013
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %a.blog{href: '/blog_ixdt_ruby.html'}
              %span
                IxDT
                .shadow-right
                .shadow-bottom
              %span
                —
                .shadow-right
                .shadow-bottom
              %span
                Ruby
                .shadow-right
                .shadow-bottom
              %span
                Tuesday!
                .shadow-right
                .shadow-bottom
              %span
                La
                .shadow-right
                .shadow-bottom
              %span
                rivoluzione
                .shadow-right
                .shadow-bottom
              %span
                degli
                .shadow-right
                .shadow-bottom
              %span
                “happy
                .shadow-right
                .shadow-bottom
              %span
                miners”
                .shadow-right
                .shadow-bottom
              %span
                nelle
                .shadow-right
                .shadow-bottom
              %span
                start-up
                .shadow-right
                .shadow-bottom
              %span
                e
                .shadow-right
                .shadow-bottom
              %span
                non
                .shadow-right
                .shadow-bottom
              %span
                solo
                .shadow-right
                .shadow-bottom
        .posted-by
          %h4 Posted by:
          %ul
            %li
              %a{href: 'http://thedoers.co/team.html'}Piermaria Cosina
        .tags
          %h4 Tags:
          %ul
            %li
              %a{href: '#'}IxDT
            %li
              %a{href: '#'}Ruby

      .container-right
        %p.submit-description
          L’universo di Ruby è un frattale di <a href="http://rubygems.org">gemme</a>, <a href="http://rubyonrails.org/community">minatori</a>, <a href="https://www.ruby-toolbox.com">empori</a>, <a href="https://github.com/jnicklas/capybara">roditori esotici</a>, <a href="www.padrinorb.com">atmosfere dark</a> <a href="www.sinatrarb.com">anni ’20.</a>
          Chi lo scopre lo descrive come un linguaggio asciutto, elegante, estremamente flessibile ed espressivo. <a class="read_more" href="/blog_ixdt_ruby.html">Read more</a>
        %hr.short-spacer
        %p.keywords
          %a{href: '#'} 0 Comments
          <span>•</span>
          %a{href: '#'} Share









  %hr.wave
%section.footer       
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com


