-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		%a{href: '/projects_wall.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%p
						<span class="first-letter">P</span>rojects
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/qa.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/team.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">T</span>eam
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/what_we_do.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/we_have_worked_for.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>e've <span class="first-letter">W</span>orked <span class="first-letter">F</span>or
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/submission_page.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/hiring.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/blog.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%p
						<span class="first-letter">B</span>log
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		


#bg-error
%h1#error404
	404
%h2#description-error
	file not found
.white-fulminetti-1
%h3#description-error-small
	<span class="bigger">404</span> file not found
.white-fulminetti-2
%h4#warning
	<span class="bigger">warning</span> this page may cause epilepsy. Go away motherfucker.


	

