---
title: "Hiring"
---
%a.logo-doers{href: 'http://www.thedoers.co/'}
= partial'partials/menucontainer'

%section.page.submit
  %h1.submission
    %span.arrow_reverse
    %span.wave_line.left
    %span.wave_line.right
    %span.container
      %span
        we're
        %span.shadow-right
        %span.shadow-bottom
      %span
        hiring
        %span.shadow-right
        %span.shadow-bottom

  %p.hiring.main-p
    The Doers is a start-up as well, facing a breathtaking path of growth! To do so we need people with either hybrid knowledge and vertical competences in the digital world. We are always longing to meet new candidates with interesting backgrounds and experiences, eager learners willing to take in new challanges. <br />We have a number of open positions you may be interested to: in our team, in startups of our network, in companies that refers to us as local hub of people hanging out in the unconfortable and always moving fronteer of web digital innovation (e.g. "do you know any node.js/ruby/... developer"?), as external collaborators of ours, as partners.
  %ul.submission
    %hr.dotted
    %li
      .container-left
        %h2.single-title
          .container
            %span
              apply
              .shadow-right
              .shadow-bottom
      .container-right
        %p.submit-description
          The application form will be soon available, in the meanwhile you can apply by email. Tell us about yourself, your past experiences and future expectations, include a resume, a portfolio or any links to previous projects of yours. We will get in contact with you as soon as possible.
        %a.top-spacer.bottom-spacer{href: "mailto:we@thedoers.co"}
          Apply by email

  %hr.wave

%section.footer				
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com


