%a.logo-doers{href: 'http://www.thedoers.co/'}
= partial'partials/menucontainer'

%section.page
  .mission
    %p
      <span class="capo_lettera W_big">W</span>e empower a new way to develop digital products and services, scalable businesses, sustainable opportunities and life styles, better lives.
#bg-submission
%section.page
  .container-submission
    %p.testi
      -#<span class="capo_lettera D">D</span>o you have a burning entrepreneurial idea in the digital domain, and a fierce desire to make it happen? We can't wait to meet you and your team in person!
      <span class="capo_lettera W">W</span>e design & deploy digital products, closely integrating in the same design pipeline business modeling, interaction design, communication and analytics. We build, gauge and fine-tune digital user experiences in a way that are always aligned with business goals.
    .bottone-container-hover
      -#%a{href: '/submission-page.html'} submit your startup
      %a{href: '/what-we-do.html'} what we do
      .white-line
        .hover-corner-left
        .hover-center
        .hover-corner-right
        .bottone_container
          .bottone
            %p
              -#<span class="first-letter">S</span>ubmit <span class="small">your </span><span class="first-letter">S</span>tartup
              <span class="first-letter">W</span>hat <span class="small">we </span><span class="first-letter">D</span>o
            .corner_right
            .block_center
            .corner_left
      .fulminetti
  %hr.dotted

  .container-hiring
    %p.testi
      -#<span class="capo_lettera T">T</span>ime to grow folks! The Doers are looking for new people to include in the team. We value interesting profiles and hybrid knowledge, do you dare to take the challenge up?
      <span class="capo_lettera I">I</span>nformal proceedings from our reflexions, meetings, projects, conversations, and perpetual walkabouts in the territory on interaction design, coding and digital strategies.
    .bottone-container-hover
      %a{href: 'http://blog.thedoers.co'} blog
      .white-line
        .hover-corner-left
        .hover-center
        .hover-corner-right
        .bottone_container
          .bottone
            -#%p <span class="first-letter">H</span>iring
            %p <span class="first-letter">B</span>log
            .corner_right
            .block_center
            .corner_left
      .fulminetti
  %hr.dotted
  -#%ul.old-site
  -#  %li
  -#    .icon.process
  -#    .container
  -#      %a{href: '/what-we-do.html'} services
  -#      .shadow-right
  -#      .shadow-bottom
  -#  %li
  -#    .icon.blog
  -#    .container
  -#      %a{href: 'http://blog.thedoersproject.com'} blog
  -#      .shadow-right
  -#      .shadow-bottom
  -#  %li
  -#    .icon.projects
  -#    .container
  -#      %a{href: '/projects_wall.html'} projects
  -#      .shadow-right
  -#      .shadow-bottom
 
  = partial'partials/projects'
  = partial'partials/wehaveworkedfor'

  %hr.wave
%section.footer				
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com


