%a.logo-doers{href: '/'}
%ul.menu-container
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%a{href: 'http://old.thedoersproject.com'}
						<span class="first-letter">O</span>ld<span.first-letter> <span class="first-letter">W</span>ebsite
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/qa.html'}
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/what_we_do.html'}
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/submission_page.html'}
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%a{href: '/hiring.html'}
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		
%section.page
	.mission		
		%p
			<span class="capo_lettera E_big">E</span>mpower a new way to develop digital product and services, scalable businesses, sustainable opportunities and life styles, better lives.
#bg-submission
%section.page
	.container-submission
		%p
			<span class="capo_lettera A">A</span>re you a start-up with a clear digital idea and a strong desire to grow? Let us know about it, fill out all the fields and submit your application. We can't wait to meet in person!
		
		.bottone-container-hover
			.white-line
				.hover-corner-left
				.hover-center
				.hover-corner-right
				.bottone_container
					.bottone
						%a{href: '/submission_page.html'}
							<span class="first-letter">S</span>ubmit <span class="small">your </span><span class="first-letter">S</span>tartup
						.corner_right
						.block_center
						.corner_left
			.fulminetti
	%hr.dotted
		
	.container-hiring
		%p
			<span class="capo_lettera T">T</span>ime to grow folks! The Doers are looking for new people to include in the team. We value interesting profiles and hybrid knowledge, are you willing to take up the challenge?
		.bottone-container-hover
			.white-line
				.hover-corner-left
				.hover-center
				.hover-corner-right
				.bottone_container
					.bottone
						%a{href: '/hiring.html'}
							<span class="first-letter">H</span>iring
						.corner_right
						.block_center
						.corner_left
			.fulminetti
	%hr.dotted
	%p.description
		We love to move forwards, try new things and challenge ourselves to do better every time. Next step is to develop a new website that really rocks! In the meanwhile you can still visit our old webpage...feel free to snoop around!
	%ul.old-site
		%li
			.icon.process
			.container
				%a{href: '/what_we_do.html'} services
				.shadow-right
				.shadow-bottom
		%li
			.icon.blog
			.container
				%a{href: 'http://blog.thedoersproject.com'} blog
				.shadow-right
				.shadow-bottom
		%li
			.icon.projects
			.container
				%a{href: 'http://thedoersproject.com'} projects
				.shadow-right
				.shadow-bottom
	%hr.wave
%section.footer				
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

