%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%a{href: 'http://old.thedoersproject.com'}
						<span class="first-letter">O</span>ld<span.first-letter> <span class="first-letter">W</span>ebsite
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/qa.html'}
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/what_we_do.html'}
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/submission_page.html'}
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%a{href: '/hiring.html'}
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		
%section.page
	.mission		
		%p
			<span class="capo_lettera W_big">W</span>e empower a new way to develop digital products and services, scalable businesses, sustainable opportunities and life styles, better lives.
#bg-submission
%section.page
	.container-submission
		%p.testi
			<span class="capo_lettera S">S</span>o you do have a burning entrepreneurial idea in the digital domain, and a fierce desire to make it happen? We can't wait to meet you and your team in person!
		%a.bottone-container-hover{href: '/submission_page.html'}
			.white-line
				.hover-corner-left
				.hover-center
				.hover-corner-right
				.bottone_container
					.bottone
						%p 
							<span class="first-letter">S</span>ubmit <span class="small">your </span><span class="first-letter">S</span>tartup
						.corner_right
						.block_center
						.corner_left
			.fulminetti
	%hr.dotted
		
	.container-hiring
		%p.testi
			<span class="capo_lettera T">T</span>ime to grow folks! The Doers are looking for new people to include in the team. We value interesting profiles and hybrid knowledge, do you dare to take the challenge up?
		%a.bottone-container-hover{href: '/hiring.html'}
			.white-line
				.hover-corner-left
				.hover-center
				.hover-corner-right
				.bottone_container
					.bottone
						%p <span class="first-letter">H</span>iring
						.corner_right
						.block_center
						.corner_left
			.fulminetti
	%hr.dotted
	%ul.old-site
		%li
			.icon.process
			.container
				%a{href: '/what_we_do.html'} services
				.shadow-right
				.shadow-bottom
		%li
			.icon.blog
			.container
				%a{href: 'http://blog.thedoersproject.com'} blog
				.shadow-right
				.shadow-bottom
		%li
			.icon.projects
			.container
				%a{href: 'http://thedoersproject.com'} projects
				.shadow-right
				.shadow-bottom
	%hr.wave
%section.footer				
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

