-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		%a{href: '/projects_wall.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%p
						<span class="first-letter">P</span>rojects
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/qa.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/team.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">T</span>eam
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/what_we_do.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/submission_page.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/hiring.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%p
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		
%section.page.submit
	%h1.main-black-pink-title
		.wave_line.left
		.wave_line.right
		.container
			%span
				pubcoder
				.shadow-right
				.shadow-bottom

	.black-pink-title
		%h3
			%span
				Immagine, Create, Tell
				.shadow-right
				.shadow-bottom
		%h2
			.container
				%span
					e-publishing
					.shadow-right
					.shadow-bottom
				%span
					software
					.shadow-right
					.shadow-bottom

	.project-description
		.container-p
			%p.project-description
				Pubcoder is a desktop software to create and publish interactive digital books, ready to be enjoyed by a wide audience through their tablets, smartphones and browsers.
            %p.project-description
				Pubcoder has been seeded in HFarm and is based in Turin, with its roots in the deep experience of the founders in the field of digital publishing.
            %p.project-description
    			Pubcoder engages with its community of users, early adopters and clients through the web: The Doers have been curating the launch of such conversation, shaping the visual identy & communication and the flows of interaction between Pubcoder and its early adopters.
            %p.project-description
    			IMAGINE: All you need is your creativity, your contents and PubCoder's flexibility!
            %p.project-description
    			CREATE: Starting from your contents, create innovative and engaging digital stories. Manage all of the layout aspects with PubCoder's simplicity.
            %p.project-description
        		TELL: Tell your stories to a wider public. Distribute and sell contents online. Reach your readers by publishing in the most widespread formats for tablets, smartphones and browsers.
				%a.gotoproject{href: 'http://pubcoder.com/'} Go to project
		%hr.horizontal-dotted
		%hr.vertical-dotted
		%ul.areas
			%li
				.icon.business
				%h5
					Business and service modeling
			%li.active
				.icon.interaction
				%h5
					User experience and Interaction design
			%li.active
				.icon.technology
				%h5
					Technology strategy and digital development
			%li.active
				.icon.identity
				%h5
					Communication and Identity
			%li.active
				.icon.graphics
				%h5
					Graphics and UI
	.project-info
		.black-pink-title.info
			%h2
				.container
					%span
						info
						.shadow-right
						.shadow-bottom
						%span.update
							last update: 15<span class="slash">/</span> 09<span class="slash">/</span> 2013
		.container-single-info
			%h4
				released on:
			%hr
			%p.date
				<span class="day">25 <span class="slash-date">/</span></span> <span class="month">march <span class="slash-date">/</span> </span>  <span class="year">2013</span>
		.container-single-info
			%h4
				n° of users:
			%hr
			%p.users
				NyD
		.container-single-info
			%h4
				press:
			%hr
			%ul.press
				%li
					%a.press{href: 'http://italianvalley.wired.it/news/2013/04/15/pubcoder-libri-app-327847.html'}
						wired
					%p.date-press
						15 <span class="slash-press">/</span> 04 <span class="slash-press">/</span> 2013
				%li
					%a.press{href: 'http://www.h-farmventures.com/en/news/pubcoder_is_born_our_new_startup_to_innovate_publishing'}
						hfarm
					%p.date-press
						26 <span class="slash-press">/</span> 03 <span class="slash-press">/</span> 2013
				%li
					%a.press{href: 'http://www.finsmes.com/2013/04/pubcoder-raises-initial-funding.html'}
						finsmes
					%p.date-press
						22 <span class="slash-press">/</span> 04 <span class="slash-press">/</span> 2013
		.container-single-info.last
			%h4
				funding:
			%hr
			%ul.funding
				%li
					%p.funding
						seed funded
					%span.funder
						hfarm
				%li
					%p.funding
						seed funded
					%span.funder
						angel investor

	%hr.spacer-project
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_1.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_2.png"}
		.description-image
			.corner
			.black-pink-title-small
				%h2
					.container
						%span
							visual
							.shadow-right
							.shadow-bottom
						%span
							concept
							.shadow-right
							.shadow-bottom
						%span
							definition
							.shadow-right
							.shadow-bottom
			%p
				We love paper prototypes, especially when they features beautiful drawings!
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_3.png"}
	%hr.spacer-project
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_4.png"}
	%hr.spacer-project
	.project-container-photo
		.img-large
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/landing_700px.png"}
		.description-image
			.corner
			.black-pink-title-small
				%h2
					.container
						%span
							first
							.shadow-right
							.shadow-bottom
						%span
							release
							.shadow-right
							.shadow-bottom
			%p
				The earliest release of a new website is always different from what you now see online. The first usually represents with a good approximation the vision of the design team, while the current one is much more a frame of a living and growing creature, which can change every day and evolve in a state of continuous - and somehow inspiring - imperfection.  
	%hr.spacer-project
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_5.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_6.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_7.png"}
		.description-image
			.corner
			.black-pink-title-small
				%h2
					.container
						%span
							literally
							.shadow-right
							.shadow-bottom
						%span
							from 
							.shadow-right
							.shadow-bottom
						%span
							the
							.shadow-right
							.shadow-bottom
						%span
							paper
							.shadow-right
							.shadow-bottom
			%p
				We wanted to emphathize as much as we could with the project and living ourself the evolution from a story made by paper, to a digital representation.
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_8.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_9.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_10.png"}
	%hr.spacer-project
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_11.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_12.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_13.png"}
	.project-container-photo
		.img-medium
			%img{:alt=>"", :src=>"images/portfolio/pubcoder/pubcoder_pf_14.png"}

	.bottom-spacer-projects
				


		

		
		

	%hr.wave
%section.footer
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

