%a.logo-doers-qa{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		%a{href: '/projects_wall.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%p
						<span class="first-letter">P</span>rojects
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/qa.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/team.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">T</span>eam
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/what_we_do.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/we_have_worked_for.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>e've <span class="first-letter">W</span>orked <span class="first-letter">F</span>or
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/submission_page.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/hiring.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/blog.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%p
						<span class="first-letter">B</span>log
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		
%section.page
	%ul#projects-wall
		
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_winepass.html'}
				<span class="underline">winepass</span> <span class="subtitle"> </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/winepass_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_regalister.html'}
				<span class="underline">Regalister</span> <span class="subtitle"> gift list iphone app </span> <span class="date">07<span class="slash"> / </span>08<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/regalister_w_1.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_pubcoder.html'}
				<span class="underline">PubCoder</span> <span class="subtitle"> e-publishing software</span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/pubcoder_w_3.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_soccersquare.html'}
				<span class="underline">Soccersquare</span> <span class="subtitle"> social game </span> <span class="date">29<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/soccersquare_w_1.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_fabrica.html'}
				<span class="underline">Fabrica</span> <span class="subtitle"> communications research centre </span> <span class="date">03<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/fabrica_w_1.gif"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: 'http://arcadiaproject.github.io'}
				<span class="underline">arcadia</span> <span class="subtitle"> a network of geeks, hackers, designerds </span> <span class="date">04<span class="slash"> / </span>02<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/arcadia_w_1.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: 'http://arcadiaproject.github.io/tracks/ixdtuesday.html'}
				<span class="underline">ixdt</span> <span class="subtitle"> interaction design tuesday </span> <span class="date">18<span class="slash"> / </span>08<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/ixdt_w_2.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_tacati.html'}
				<span class="underline">tacatì</span> <span class="subtitle"> la spesa a km 0 </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/tacati_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_weightanalytics.html'}
				<span class="underline">weight analytics</span> <span class="subtitle"> altair </span> <span class="date">21<span class="slash"> / </span>07<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/weight_w_2.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_volleysquare.html'}
				<span class="underline">volleysquare</span> <span class="subtitle"> social game </span> <span class="date">05<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/volleysquare_w_1.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_localactors.html'}
				<span class="underline">localactors</span> <span class="subtitle"> crowdfunding </span> <span class="date">05<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/localactors_w_2.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_bookolico.html'}
				<span class="underline">Bookolico</span> <span class="subtitle"> e-publishing </span> <span class="date">31<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/bookolico_w_3.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_tamtown.html'}
				<span class="underline">tamtown</span> <span class="subtitle"> crowdsourcing </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/tamtown_w_3.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_amolamusica.html'}
				<span class="underline">Amolamusica</span> <span class="subtitle">  </span> <span class="date">03<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/amolamusica_w_1.gif"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_gnammo.html'}
				<span class="underline">gnammo</span> <span class="subtitle"> social eating </span> <span class="date">01<span class="slash"> / </span>04<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/gnammo_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_letscommerce.html'}
				<span class="underline">letscommerce</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/letscommerce_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_oilproject.html'}
				<span class="underline">oilproject</span> <span class="subtitle"> corsi online </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/oilproject_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_alphabots.html'}
				<span class="underline">alphabots</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/alphabot_w_1.png"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_pupulito.html'}
				<span class="underline">pupulito</span> <span class="subtitle"> nappy service </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/pupulito_w_1.jpg"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_cineama.html'}
				<span class="underline">cineama</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/cineama_w_1.gif"}
		%li.wall-container-photo
			.fulminetti
			%a.wall{href: '/project_page_artmob.html'}
				<span class="underline">artmob</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
			%img{:alt=>"", :src=>"images/portfolio/wall/artmob_w_3.png"}


	.bottom-spacer-projects








	%hr.wave
%section.footer				
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

