%a.logo-doers-qa{href: '#'}
%ul.menu-container
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%a{href: '#'}
						<span class="first-letter">O</span>ld<span.first-letter> <span class="first-letter">W</span>ebsite
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '#'}
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/what_we_do'}
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%a{href: '/submission_page'}
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%a{href: '/hiring'}
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti

#bg-questions
%section.page
	%ul.question-answer
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera W">W</span>hat kind of start-ups do we work with?
			%p.answer
				We mainly work and collaborate with start-ups related to the digital market. Our knowledge is based on our expertise on the very field, together with a continuous research across digital tools and the dynamic landscape of the digital life. Our preparation is rooted in the area of user research, strategic design and interaction design, which naturally lead us to shape and release projects that value the user experience as major competitive factor.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera W">W</span>hat do we mean with Interaction Design?
			%p.answer
				Interaction Design (IxD) brings technology to people, and people to digital services. IxD goes far beyond how the interface looks like: it is about the design of the whole User Experience and plays a key role in determining the success of a digital service on the market. For digital startups, IxD is a paramount competitive factor. Our experience of interaction designers - which we expand every single day with you - consists on a number of strategies to bring and keep users to your startup - and every company or projects with similar needs.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera W">W</span>hat are our resources?
			%p.answer
				We have multiple tools in our pocket to take personal care of the majority of a startup's needs. From Business Modeling to Information Architecture and Web/Mobile Development, we help you to take the best from a synergy of different design methodologies and technologies (from User Centred Design, to Behavioural Testing, to Lean Development, Code Versioning, CSS Frameworks and Preprocessors, Business Modeling, etc). Most importantly, we help you to keep the always changing components of a startup's strategy in its early life, always together. We have a good network of connections that we can put at your disposal for the fulfillment of tasks that we cannot afford to cover directly (though keeping nevertheless the crux of the matter), or for financial support. And of course our best resources are our experience, time and effort.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera H">H</span>ow long does it take from the start to be fully operative?
			%p.answer
				In average, from the idea to the MVP (Minimum Valuable Product, a.k.a. The legendary Alpha Version), from 3 to 6 months. It depends on a combination of elements, including our (growing and growing) experience in keeping risk factors under control.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera H">H</span>ow do we evaluate and select the start-ups to follow?
			%p.answer
				For us is very important to meet the people, not just the idea. That's why we always encourage to drop us a line in order to meet personally over an informal lunch, so you can present us your project with your own energy, sympathy and personality. The evaluation process starts there, understanding together limits and opportunities, according to the information you provide us with, our experience and network of connections, an eager exploration of the matter and a little bit of gut feeling.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera H">H</span>ow much will your project cost?
			%p.answer
				It depends on whether we collaborate as a team - which includes our involvement as equity and risk holders in your company, or not. We are not a traditional consultancy agency and we have developed a capacity to really adapt to the needs and constraints, also financial, of every startup we believe into.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera W">W</span>hat is our scale of intervention?
			%p.answer
				Each start-up have a different scale of intervention according to the project itself, the resources available and the strategy that we agree to follow. We adapt to your competences, providing you with complementary support. We have been collaborating with all kind of team's morphology: with or without developers, w or w/o full time availability, w or w/o kids, of every nationality or dialect, incorporated or not, newbie or serial, etc.
		%hr.dotted
		%li.container
			.questionmark
			%p.question
				<span class="capo_lettera H">H</span>ow many start-ups that we followed, succeded on the market?
			%p.answer
				See
				%a{href: '#'} The Doers Numbers / Facts / Assets 2011-2012
		
			
			
			
	%hr.wave
	.mazinga-footer
	%a.mazinga-footer-lettering{href: '/mazinga_page'}
		
%section.footer				
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	
	

