-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
  %li.container-hover
    %a{href: '/projects_wall.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-first
      .bottone_container
        .bottone
          %p
            <span class="first-letter">P</span>rojects
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/qa.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">Q</span>&A
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/what_we_do.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/submission_page.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/hiring.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-last
      .bottone_container
        .bottone
          %p
            <span class="first-letter">H</span>iring
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
    
%section.page.submit
  %h1.submission
    .arrow
    .wave_line.left
    .wave_line.right
    .container
      %span
        we
        .shadow-right
        .shadow-bottom
      %span
        take
        .shadow-right
        .shadow-bottom
      %span
        your
        .shadow-right
        .shadow-bottom
      %span
        startup
        .shadow-right
        .shadow-bottom
      %span
        out
        .shadow-right
        .shadow-bottom
      %span
        for
        .shadow-right
        .shadow-bottom
      %span
        l(a)unch
        .shadow-right
        .shadow-bottom
        
  %ul.submission
    %li
      .container-left
        %h3
          %span
            Step 1
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              get
              .shadow-right
              .shadow-bottom
            %span
              started
              .shadow-right
              .shadow-bottom
            
      .container-right
        %p.submit-description
          So you do have a Start-up project! If you feel like we could be the right partners to help you size your entrepreneurial idea, to improve what you already have and to share the path toward a sustainable goal: get in touch and tell us your story. Even if you have no team, just you and your temper, we value people and intuitions first!
    %hr.dotted
    %li
      .container-left
        %h3
          %span
            Step 2
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              the
              .shadow-right
              .shadow-bottom
            %span
              application
              .shadow-right
              .shadow-bottom
      .container-right
        %p.submit-description
          As a first touch point we have framed a boring application form: cheer up and try to be clear and concise! Thank you. (remember: the more frustrating you find it, the greater are the opportunities to express your complains in person...).
        %p.submit-description
          We will contact you for an informal meeting (+ lunch, yeah!): we would love to be involved in a passionate confrontation about your idea and share hints and inspirations with you.
    %hr.dotted
    %li
      .container-left
        %h3
          %span
            Step 3
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              the
              .shadow-right
              .shadow-bottom
            %span
              lunch
              .shadow-right
              .shadow-bottom
            %span
              in
              .shadow-right
              .shadow-bottom
            %span
              studio
              .shadow-right
              .shadow-bottom
            
      .container-right
        %p.submit-description
          Let's say that we both come to the conclusion that we would love to meet. What about a lunch together at our studio? You share your project, we’d really love to share with you our office made food, experience, and advice while considering next steps to take.
    %hr.dotted
    %li
      .container-left
        %h3
          %span
            Step 4
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              hungry?
              .shadow-right
              .shadow-bottom
      .container-right
        #wufoo-z7x3p3
        :javascript
          var z7x3p3;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'thankyouforyoursubmission', 
            'formHash':'z7x3p3', 
                'autoResize':true,
                'height':'1996',
                'async':true,
                'header':'hide', 
                'ssl':false};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');

    
    

  %hr.wave
%section.footer       
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
  

