-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		%a{href: '/projects_wall.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%p
						<span class="first-letter">P</span>rojects
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/qa.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/team.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">T</span>eam
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/what_we_do.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/submission_page.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/hiring.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%p
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		



%section.page.submit
	%h1.submission
		.wave_line.left
		.wave_line.right
		.container.team
			%span
				the
				.shadow-right
				.shadow-bottom
			%span
				doers
				.shadow-right
				.shadow-bottom
			%span
				are:
				.shadow-right
				.shadow-bottom

				
	%ul.submission
		%li
			.container-left.what_we_do
				%h3
					%span.team
						CEO <span class="smaller">/</span> Editor
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Irene
							.shadow-right
							.shadow-bottom
						%span
							Cassarino
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/placeholder.png"}
						
			.container-right
				%p.submit-description
					Senior arsenic - Engineer - Dr. - Project and team lead, editor, biz dev. T shaped - From Open Cinema to Sustainable Urban Development.
				%hr.short-spacer
				%p.keywords
					%a{href: '#'} Linkedin
					<span>•</span>
					%a{href: '#'} Twitter
		%hr.dotted
		%li
			.container-left.what_we_do
				%h3
					%span.team
						Business modeling
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Cosimo
							.shadow-right
							.shadow-bottom
						%span
							Panetta
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/placeholder.png"}
						
			.container-right
				%p.submit-description
					Building a digital product starts from the very basement of a sustainable business: we work together with project owners and domain experts in order to collaboratively recognize a distinctive value proposition and crucial assets to deploy it.
				%hr.short-spacer
				%p.keywords
					%a{href: '#'} Linkedin
		%hr.dotted
		%li
			.container-left.what_we_do
				%h3
					%span.team
						CTO <span class="smaller">/</span> Interaction designer <span class="smaller">/</span>
						.shadow-right
						.shadow-bottom
					%span.team
						Developer
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Piermaria
							.shadow-right
							.shadow-bottom
						%span
							Cosina
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/piermaria_cosina.png"}
						
			.container-right
				%p.submit-description
					Interaction design, in love with information visualization, coding enthusiast, teacher of information visualization at IED turin.
				%hr.short-spacer
				%p.keywords
					%a{href: '#'} Linkedin
					<span>•</span>
					%a{href: '#'} Twitter
					<span>•</span>
					%a{href: '#'} Github
		%hr.dotted
		%li
			.container-left.what_we_do
				%h3
					%span.team
						Graphic designer <span class="smaller">/</span> Illustrator <span class="smaller">/</span>
						.shadow-right
						.shadow-bottom
					%span.team
						CSS developer
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Gabriele
							.shadow-right
							.shadow-bottom
						%span
							Marchi
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/gabriele_marchi.png"}
						
			.container-right
				%p.submit-description
					Building a digital product starts from the very basement of a sustainable business: we work together with project owners and domain experts in order to collaboratively recognize a distinctive value proposition and crucial assets to deploy it.
				%hr.short-spacer
				%p.keywords
					%a{href: 'http://www.behance.net/gabrielemarchi'} Behance
					<span>•</span>
					%a{href: 'http://it.linkedin.com/pub/gabriele-marchi/4a/9ab/922'} Linkedin
		%hr.dotted
		%li
			.container-left.what_we_do
				%h3
					%span.team
						Graphic designer <span class="smaller">/</span>
						.shadow-right
						.shadow-bottom
					%span.team
						Social media strategist
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Manuela
							.shadow-right
							.shadow-bottom
						%span
							Cammilleri
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/manuela_cammilleri.png"}
						
			.container-right
				%p.submit-description
					Building a digital product starts from the very basement of a sustainable business: we work together with project owners and domain experts in order to collaboratively recognize a distinctive value proposition and crucial assets to deploy it.
				%hr.short-spacer
				%p.keywords
					%a{href: 'http://elagraphicdesign.tumblr.com/'} Tumblr
					<span>•</span>
					%a{href: '#'} Linkedin
		%hr.dotted
		%li
			.container-left.what_we_do
				%h3
					%span.team
						User experience designer
						.shadow-right
						.shadow-bottom
				%h2
					.container
						%span
							Giulia
							.shadow-right
							.shadow-bottom
						%span
							Barra
							.shadow-right
							.shadow-bottom
				.photo-team
					%img{:alt=>"", :src=>"images/team/placeholder.png"}
						
			.container-right
				%p.submit-description
					Building a digital product starts from the very basement of a sustainable business: we work together with project owners and domain experts in order to collaboratively recognize a distinctive value proposition and crucial assets to deploy it.
				%hr.short-spacer
				%p.keywords
					%a{href: '#'} Linkedin

	.project-info.team
		.black-pink-title.info
			%h2
				.container
					%span
						info start-up
						.shadow-right
						.shadow-bottom
		.container-single-info.eight-columns
			%h4
				data e luogo di costituzione:
			%hr
			%p.date
				<span class="day">14 <span class="slash-date">/</span></span> <span class="month">september <span class="slash-date">/</span> </span>  <span class="year">2013 <span class="slash-date">/</span></span>
			%p.city
				Turin, Italy
		.container-single-info.five-columns
			%h4
				notaio:
			%hr
			%p.notaio
				Studio Notarile Salcazzo
			%p.notaio-address
				<span class="smallcaps">via</span> Salcazzo <span class="smallcaps">n°</span> 45 Salcazzolandia Turin, Italy
		.container-single-info.all-columns
			%h4
				sede:
			%hr
			%p.sede
				<span class="smallcaps">via</span> San Domenico <span class="smallcaps">n°</span> 30 Turin, Italy
		.container-single-info.eight-columns
			%h4
				oggetto sociale:
			%hr
			%p.oggetto-sociale
				We empower a new way to develop digital products and services, scalable businesses, sustainable opportunities and life styles, better lives.
		.container-single-info.five-columns
			%h4
				attività svolte:
			%hr
			%p.activity
				business modeling <span class="slash">/</span> interaction design <span class="slash">/</span> user experience design <span class="slash">/</span> graphic design <span class="slash">/</span> development for digital start-ups
		.container-single-info.all-columns
			%h4
				società partecipate:
			%hr
			%a.society{href: 'http://www.sportsquaregames.com/'}
				sportsquare games
		
		
		
		

		
		

	%hr.wave
%section.footer       
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

