-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
	%li.container-hover
		%a{href: '/projects_wall.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-first
			.bottone_container
				.bottone
					%p
						<span class="first-letter">P</span>rojects
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/qa.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">Q</span>&A
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/team.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">T</span>eam
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/what_we_do.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/we_have_worked_for.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">W</span>e've <span class="first-letter">W</span>orked <span class="first-letter">F</span>or
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/submission_page.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/hiring.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right
			.bottone_container
				.bottone
					%p
						<span class="first-letter">H</span>iring
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
	%li.container-hover
		%a{href: '/blog.html'}
		.white-line
			.hover-corner-left
			.hover-center
			.hover-corner-right-last
			.bottone_container
				.bottone
					%p
						<span class="first-letter">B</span>log
						%span.slash /
					.corner_right
					.block_center
					.corner_left
		.fulminetti
		



%section.page.submit
	%h1.submission
		.wave_line.left
		.wave_line.right
		.container.team
			%span
				we
				.shadow-right
				.shadow-bottom
			%span
				have
				.shadow-right
				.shadow-bottom
			%span
				worked
				.shadow-right
				.shadow-bottom
			%span
				for:
				.shadow-right
				.shadow-bottom


	.project-info.team
		.container-single-info.all-columns
			%p.society.clienti
				<a href="http://www.edibas.com/it/it/homepage.plp">Edibas</a><span class="small">(Alphabots)</span>/ 
				<a href="http://www.deltatre.com/">DeltaTre</a><span class="small">(Bayer 04 App)</span>/ 
				<a href="http://it.benetton.com/index.html">Benetton</a><span class="small">(Fabrica)</span>/ 
				<a href="http://www.altair.com/?AspxAutoDetectCookieSupport=1">Altair</a><span class="small">(Weight Analytics)</span>/ 
				<a href="http://pfeffermind.de/">Pfeffermind Games</a><span class="small">(Spy Day)</span>
		
		
		
		

		
		

	%hr.wave
%section.footer       
	#bg-footer
		.freakin_icon.bottom
		.freakin_icon.middle
		.freakin_icon.top
		%p.contacts
			<span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
	

