-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
%ul.menu-container
  %li.container-hover
    %a{href: '/projects_wall.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-first
      .bottone_container
        .bottone
          %p
            <span class="first-letter">P</span>rojects
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/qa.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">Q</span>&A
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/team.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">T</span>eam
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/what_we_do.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">W</span>hat <span class="first-letter">W</span>e <span class="first-letter">D</span>o
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/submission_page.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">S</span>ubmit<span.first-letter> <span class="first-letter">S</span>tartup
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/hiring.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right-last
      .bottone_container
        .bottone
          %p
            <span class="first-letter">H</span>iring
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
    
%section.page.submit
  %h1.submission
    .wave_line.left
    .wave_line.right
    .container
      %span
        what
        .shadow-right
        .shadow-bottom
      %span
        we
        .shadow-right
        .shadow-bottom
      %span
        do
        .shadow-right
        .shadow-bottom

        
  %ul.submission
    %li
      .container-left.what_we_do
        %h3
          %span
            The inception
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              business
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              service
              .shadow-right
              .shadow-bottom
            %span
              modeling
              .shadow-right
              .shadow-bottom
        .icon.business
            
      .container-right
        %p.submit-description
          Building a digital product starts from the very basement of a sustainable business: we work together with project owners and domain experts in order to collaboratively recognize a distinctive value proposition and crucial assets to deploy it, to narrow the target of potential users, to filter market players between critical partners and competitors, and to design a commercial strategy that exploits potentials of both.
        %hr.short-spacer
        %p.keywords
          Business modeling <span>•</span> Competitive review <span>•</span> Service design <span>•</span> Market analysis <span>•</span> Pitch-kit
    %hr.dotted
    %li
      .container-left.what_we_do
        %h3
          %span
            The engaging stories
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              user
              .shadow-right
              .shadow-bottom
            %span
              experience
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              interaction
              .shadow-right
              .shadow-bottom
            %span
              design
              .shadow-right
              .shadow-bottom
        .icon.user-experience
      .container-right
        %p.submit-description
          The juice is: a good interaction design makes your users experience the digital product/service in a way that all business values are rightly conveyed and the entire journey of fruition is fluid, rewarding and exciting. 
        %p.submit-description
          The design of such experience is grounded on the clear recognition of the target users, their lifestyle, contexts of use, needs, ambitions, worries and cultural traits.
        %p.submit-description
          Especially in the domain of digital products, the refinement of factors that turn a really engaging user experience into a great story to tell and live again, is a pivotal competitive factor.
        %hr.short-spacer
        %p.keywords
          Interaction design <span>•</span> User experience modeling & design <span>•</span> User stories
    %hr.dotted
    %li
      .container-left.what_we_do
        %h3
          %span
            The unique touch and taste
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              communica-
              .shadow-right
              .shadow-bottom
            %span
              tion
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              identity
              .shadow-right
              .shadow-bottom
        .icon.identity
            
      .container-right
        %p.submit-description
          Content is the king, and so is the coordinated mix of channels that the project exploits to communicate vs. users, partners, investors, public at large. Every channel has his own rules of curation, while all share the unique language that makes the touch and taste of the project always recognizable.
        %p.submit-description
          We map these channels and fine-tune such language in a way that consolidates the positioning of the new product/service in its market niche.
        %hr.short-spacer
        %p.keywords
          Communication <span>•</span> Visual identity <span>•</span> Content <span>•</span> Copy writing
    %hr.dotted
    %li
      .container-left.what_we_do
        %h3
          %span
            The unforgettable look
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              graphics
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              UI
              .shadow-right
              .shadow-bottom
        .icon.graphics-ui
            
      .container-right
        %p.submit-description
          Our memory is largely influenced by aesthetic factors and the refined beauty of objects or physical places injects desire, stimulates curiosity and ultimately enhances the pleasantness of the user experience. We are committed to craft clean and beautiful user interfaces, where interaction design intuitions and a catchy graphic language blend on the always evolving platform of digitally feasible solutions, to offer the most unforgettable digital place to come, stay and come back again.
        %hr.short-spacer
        %p.keywords
          Interactive design <span>•</span> Visual design <span>•</span> User interfaces <span>•</span> Graphic design <span>•</span> Front end
    %hr.dotted
    %li
      .container-left.what_we_do
        %h3
          %span
            The agile factory
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              technology
              .shadow-right
              .shadow-bottom
            %span
              strategy
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              lean
              .shadow-right
              .shadow-bottom
            %span
              digital
              .shadow-right
              .shadow-bottom
            %span
              development
              .shadow-right
              .shadow-bottom
        .icon.agile
            
      .container-right
        %p.submit-description
          We search for the better mix of custom solutions, open frameworks and Saas that better comprehend the project needs, in its evolutive path of growth.
        %p.submit-description
          We rely on a MVC (Model View Control) architecture to coordinate data modelers, backenders and frontenders in a agile process of collaborative building that makes the project grow key feature by key feature.
        %p.submit-description
          That way, time between different releases is tremendously short and the whole development process goes along with the business escalation of the project.
        %hr.short-spacer
        %p.keywords
          Technology strategy <span>•</span> Agile planning & organization <span>•</span> Back-end development <span>•</span> MVC <span>•</span> Lean development <span>•</span> Front-end development <span>•</span> CSS
    %hr.dotted
    %li
      .container-left.what_we_do
        %h3
          %span
            Deep into the ocean
            .shadow-right
            .shadow-bottom
        %h2
          .container
            %span
              Community
              .shadow-right
              .shadow-bottom
            %span
              building
              .shadow-right
              .shadow-bottom
        .icon.community-building
            
      .container-right
        %p.submit-description
          There are two parts to the iceberg, the visible part and the massive chunk of ice extending deep into the ocean. Our daily work in studio with startups stays on the visible part. While the real value of what we both can achieve together relies in the lively community of people whose awareness and interactions support and convey our success: they are developers, business angels, universities, incubators, wannabe and senior entrepreneurs, designers, seed and venture capitalists, public institutions, ... they are the larger and most powerful part of our local community. We are committed to dive into this community as much as we can, with:
        %ul.community-building
          %li
            %span.bullet-list •
            %a{href: 'http://arcadiaproject.github.io/tracks/ixdtuesday.html'} IxDT
            , events dedicated to startups (once per month)
          %li
            %span.bullet-list •
            %a{href: 'http://www.thedoers.co/submission_page.html'} lunches (every day)
          %li
            %span.bullet-list •
            ongoing networking with developers and designers
          %li
            %span.bullet-list •
            regular contacts with business angels, experienced entrepreneurs and VC
          %li
            %span.bullet-list •
            close dialogue with other accelerators in Italy and abroad
    

    
    

  %hr.wave
%section.footer       
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com
  

